
:root {
    /* --font-family: "Roboto", sans-serf; */
    /* --normal-font: 400; */
    /* --bold-font: 700; */
    /* --bolder-font: 900; */
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }
  html {
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    /* border: 2px solid red; */
  }

body{  
    font-size: 1.5rem;
    width: 100%;

    /* padding: 0px 10px 0px 10px; */
    
}

.mainDiv{
    width: 100%;
    height:auto;

}

#collapsedNavbar ul li a{
 text-align: center;
}


.navbar-brand {
    text-align: left;
}

.navbar{
    /* text-align: center; */
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;

    /* box-shadow: 0 4px 5px var(--secondary-shadow); */

}




.navHeader{
    /* font-weight: bold; */
    width: 38%;

}
/* @media only screen and (max-width: 950px) {
.navHeader{
    width:29%;
}
}  */
@media only screen and (min-width: 993px) {
    .articleHead, .skillText {
        margin-top: 2%;

    }
    
    } 

.landing{
    /* width: 100%; */
    height: auto;
    /* position: absolute; */
    /* border: 2px solid black; */
    /* background-color: rgb(68, 68, 237); */
    padding: 0px;
}



.writeUp{

    text-align: center;
    height: 100%;



}
.writeUpText{  
    text-align: left;
    margin-top: 18%;
    border: 1px solid black;
    /* border-radius: 10px; */
    height: auto;
    padding: 30px 30px 0px 30px;
    /* width: 100%; */
    
}
.writeUpText .aboutUsHeaderText{
    /* padding: 20px; */
    padding: 30px 30px 0px 30px;

    border: 1px solid red;
}

.writeUp .writeUpText .articleHead{

    font-size: 3rem;
    text-align: left;
    /* border: 2px solid green; */
    font-weight: bold;
    padding: 0px;
    /* margin: 5%; */
    /* border: 1px solid red; */


}
.articlehHeadHighlight{
    color: red;
}
.writeUp .articleText {
    border: 1px solid red;
    width: 100%;
    font-size: 1.3em;
    /* padding: 20px; */
    /* margin: 5%; */
}

.writeUp .writeUpText .articleText .about .aboutUs{
    padding: 30px ;

    
    }



.img{
    width: 100%;
    height: 100%;
    /* border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 1px 5px var(--secondary-shadow); */
    
    /* border: 2px solid green; */
    /* padding: 20px; */
}





.aboutUsHeaderText{
    padding: 0px 10px 0px 10px;
}
.aboutUs,.about{
    border: 1px solid red;
}
#img2{
    width: 100%;
}

.skills {

    height: 100%;
    text-align: center;
    border: 1px solid red;

  }
  
  .skill-header {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .skills-wrapper img {
    padding: 1rem;
  }


    .icon {
        width: 7rem;
        height: 7.25rem;
      }
  

  .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }

.skillText p{
    text-align: left;
    border: 1px solid blue;
}
#navIcon{
   /* justify-content:space-between; */
    /* justify-content: right; */
    right: 0;
   /* border: 1px solid red; */
    /* width: 100%; */



   /* display: flex; */
}



#navIcon a {
    padding: 14px 10px 10px 10px;
    color: red;
    /* font-size: 1rem; */
text-align: right;

}

.icons i{
padding: 10px;
color: red;
/* text-align: right; */

}

@media screen and (max-width: 720px) {
    .icon {
        width: 5rem;
        height: 5rem;
      }
}
@media screen and (max-width: 991px) {
    .writeUpText {
    margin-top: 0;
      
      }

      .projectDiv {
        margin-top: 5%;
      }

      div .link{
        text-align: left;
      }

     #resumeLink{
        width: 100%;
        text-align: center;

      }

}

.projectDiv {

  }



.aboutUsHeader{
    text-align: center;
}
.aboutUsHeader, .projectName{
    font-weight: bold;
}



.projectImageDiv{
    padding:15px;
}



.row{
border: 1px solid blue;
padding: 20px;
}

   
    

/* ul.navbar-nav{
    float:right;
    }
    
    ul.navbar-nav li{
        display: inline;
        list-style-type: none;
    } */

   
